
body {
  padding-top: 50px;
}
html {}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
html, body {
  height: 100%;
  overflow: hidden;
}

#content-container {
  height: 100%;
  width: 100%;
  overflow: auto;

}
.navbar-brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-brand:hover {

  text-decoration: none;

  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


.fd{
  background-color: #565656;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#test {
    display: block;
    padding: 50px;
    color: black;
    font: bold 7em Arial, sans-serif;
    position: relative;
}

#test:before, #test:after {
    content: attr(title);
    padding: 50px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

#test:before { top: 1px; left: 1px }
#test:after  { top: 2px; left: 2px }

#logout-btn{
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}


#logout-btn:hover {

  text-decoration: none;

  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.user-info-form h3 {
	white-space: nowrap;
}

.fileupload form, .fileupload .btn {
	float: left;
	margin-right: 10px;
}

.fileupload .media-edit-buttons {
	float: left;
	margin-bottom: 10px;
}

.modal-body .btn {	
	margin: 10px 0;
}


