/* 
    Document   : medicus-corda
    Created on : Jun 6, 2013, 9:13:24 PM
    Author     : patrick
    Description:
        Purpose of the stylesheet follows.
*/
body {
    padding-top: 10px;
}
body, p, div, td, a {
    font-family: 'Raleway', Verdana, Arial, sans-serif;
}

div.container a.brand {
    background: url("../img/rough-logo-logo.png") no-repeat scroll 0px 10px transparent;
    min-height: 50px;
    display: block;
}

ul.nav {
    margin-bottom: 0;
}

ul.nav > li {
    margin-left: 15px;
}
div.main-content-container {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
}

div.main-content {
    margin: 30px 10px;
}

.carousel {
    padding: 40px 90px;
    width: 800px;
}
.carousel-indicators {
    position: absolute;
    top: -15px;
    right: 15px;
    z-index: 5;
    margin: 0px;
    list-style: none outside none;
    
}

.carousel-control-wrapper {
    position: relative;
}

.carousel-control-wrapper-row.row-fluid [class*="span"]{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 1px;
}
.carousel-indicators li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px 5px 5px 5px;
    border: solid 1px #00b3ee;
    cursor: pointer;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 350px;
}

.carousel-inner .item {
    width: 800px;
}

.carousel, .carousel .item{
    width: 100%;
    padding: 0;
}

.fake-image {
    height: 450px;
    width: 550px;
    background-color: lightgray;
}

h1 {
    color: rgb(0, 136, 204);
    font-weight: normal
}