@import "../bootstrap/less/bootstrap.less";

@sansFontFamily: 'Avenir LT W02 65 Medium', "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight: 26px;
@baseFontHeight: 16px; 
@menuFontFamily: "Avenir LT W02 65 Medium", Helvetica, Arial, sans-serif;
@headingsFontFamily: "Avenir LT W02 65 Medium", Helvetica, Arial, sans-serif;

@medicusCordaLightGrey: #E5EBEF;

@medicusCordaOrange: #FF4500;
@medicusCordaDarkOrange: darken(@medicusCordaOrange, 7%);
@medicusCordaLighterOrange: lighten(@medicusCordaOrange, 30%);
@medicusCordaLightOrange: darken(@medicusCordaOrange, 85%);


@medicusCordaBlue: #25A7AF;
@medicusCordaDarkBlue: darken(@medicusCordaBlue, 7%);
@medicusCordaLighterBlue: lighten(@medicusCordaBlue, 50%);
@medicusCordaLightBlue: darken(@medicusCordaBlue, 85%);

@font-face{
    font-family:"Avenir LT W02 65 Medium";
    src:url("/fonts/Avenir65Med.eot?#iefix");
    src:url("/fonts/Avenir65Med.eot?#iefix") format("eot"),url("/fonts/Avenir65Med.woff") format("woff"),url("/fonts/Avenir65Med.ttf") format("truetype"),url("/fonts/Avenir65Med.svg#3cece34e-2cfb-4b8f-8a9c-04ec56d1e672") format("svg");
}
@font-face{
    font-family:"Avenir LT W02 95 Black";
    src:url("/fonts/Avenir95Black.eot?#iefix");
    src:url("/fonts/Avenir95Black.eot?#iefix") format("eot"),url("/fonts/Avenir95Black.woff") format("woff"),url("/fonts/Avenir95Black.ttf") format("truetype"),url("/fonts/Avenir95Black.svg#1cda1791-25c1-48d3-9056-3b04b763b592") format("svg");
}

@font-face{
    font-family:"Baskerville W02 Regular 743762";
    src:url("/fonts/BaskervilleRegular.eot?#iefix");
    src:url("/fonts/BaskervilleRegular.eot?#iefix") format("eot"),url("/fonts/BaskervilleRegular.woff") format("woff"),url("/fonts/BaskervilleRegular.ttf") format("truetype"),url("/fonts/BaskervilleRegular.svg#32916b5a-0670-4834-b7bc-a3b0e0b48e80") format("svg");
}

body {
    padding-top: 0;
    padding-bottom:0;
    background-color: @medicusCordaBlue;
}

.content-wrapper {
    padding-top: 10px;
    background-color: @medicusCordaLightGrey; 
}

.inner-container {
    margin: 0;
}

a {
    outline : none;

    &:hover, &:active, &:focus {
        outline: none; 
        -moz-outline-style: none;
    }
}

div#header{
    position: relative;

    a.brand {
       background: url("../img/logo.png") no-repeat scroll 0px 10px transparent;
       min-height: 93px;
       display: block;
       padding-left: 0;
       padding-right: 0;
       text-decoration: none;
    }

    .header-info {
        .clearfix;
        float: left;
        padding: 22px 0 0 0;
        min-height: 93px;
        color: @white;
        .header-contact-info {
            font-size: 16px;
            width: 50%;
            .clearfix;
            float: left;
            a {
                font-size: 16px;
                font-weight: bold;
                display: block;
                color: @white;
            }

        }

        .blog-link {
            float: right;
            display: inline-block;
            padding: 5px 30px;
            margin-right: 5px;
            max-width: 90px;
            font-size: 16px;
            font-weight: bold;
            color: @medicusCordaLightGrey;
            background-color: @white;
            .border-radius(6px);
            &:hover{
                text-decoration: none;
                color: darken(@medicusCordaLightGrey, 10);
            }
        }
    }
}

ul.nav {
    margin-bottom: 0;
}

.nav-tabs {
    border: solid 0px transparent;
    margin-left: -2px;

    li {
        margin-left: 2px;
        width: 14%;
        a {
            background: @medicusCordaLighterOrange;
            font-family: @menuFontFamily;
            font-weight: normal;
            font-size: 24px;
            color: @white;
            .border-radius(2px);
            text-transform: uppercase;
            padding-left: 0px;
            padding-right: 0px;
            text-align: center;
            line-height: 22px;
            height: 46px;
            margin-bottom: 5px;
            display: block;
            .clearfix;
 
            &:hover {
                background: @white;
                color: @medicusCordaOrange;
            }
        }
    }

    .active {
        a, a:hover {
            background: @white;
            color: @medicusCordaLighterOrange;
            height: 50px;
            margin-bottom: 0;
            border-bottom: solid 5px @medicusCordaLighterOrange;
        }
    }
}

div.main-content-container {
    margin: 0 auto;
    border-color: @white;
    border-width: 0;
    border-style:solid;
    .border-radius(2);
    background-color: @white;
    color: @medicusCordaBlue;
}

div.main-content {
    margin: 30px 10px;
}

.carousel {
    padding: 40px 90px;
    width: 800px;
    line-height: @baseLineHeight;
}

.carousel-indicators {
    position: absolute;
    top: -15px;
    right: 15px;
    z-index: 5;
    margin: 0px;
    list-style: none outside none;
    
}

.carousel-control-wrapper {
    position: relative;
}

.carousel-control-wrapper-row.row-fluid [class*="span"]{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 1px;
}

.carousel-control {
    height: 400px;
    width: 150px;
    top: 0;
    margin-top: 0;
    line-height: 400px;
    border-width: 0;
    background: transparent;
    color: @medicusCordaBlue;
    .opacity(10);
    &.right {
        text-align: right;
    }
    &.left {
        text-align: left;
    }
    &:hover {
        color: @medicusCordaBlue;
    }
}



.carousel-indicators {
    li {
        background-color: @medicusCordaLighterOrange;
        color: @white;
        border: solid 1px @medicusCordaLighterOrange;
        cursor: pointer;
        height: 15px;
        width: 15px;
        line-height: 15px;
        text-align: center;
        text-indent: 0;
        .border-radius(1);
    }
    li.active {
        background-color: @white;
        color: @medicusCordaLighterOrange;
    }
}
 
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 350px;
}


.carousel, .carousel .item{
    width: 100%;
    padding: 0;
}

.fake-image {
    height: 450px;
    width: 550px;
    background-color: lightgray;
    line-height: 450px;
    text-align: center;
}

h1 {
    color: @medicusCordaBlue;
    font-weight: normal;
    text-transform:uppercase;
    border-bottom: solid 1px @medicusCordaLightGrey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h2 {
    color: @medicusCordaBlue;
    font-weight: normal;
    text-transform:uppercase;
}

.question {
    margin-top: 16px;
    font-weight: bold;
}
